h1	a	{
				color:	#0056cc;
				font-family:	'Overlock';
}
hr{
	border-width: thick;
	border-color: black;
}
body	{
				padding-left:	20px;
}
.botones{
	background-color:	#1a7aff;
	float:	right;
	padding:	10px	10px	10px	10px;
	color:	#ffffff;
	font-size:	14pt;
	text-decoration:	none;
}
.botonlogout{
	background-color:	#1a7aff;
	color:	#1f1f1f;
	font-size:	14pt;
	text-decoration:	none;
}
.page-header	{
				background-color:	#0056cc;
				margin-top:	0;
				padding:	20px	20px	20px	40px;
}
.page-header	h1,	.page-header	h1	a,	.page-header	h1	a:visited,	.page-header	h1	a:active	{
				color:	#ffffff;
				font-size:	36pt;
				text-decoration:	none;
}
.content	{
				margin-left:	40px;
}
h3,h4{
	font-family:	'Signika',	cursive;
}
h1,	h2,	{
				font-family:	'Questrial',	cursive;
}
.date	{
				color:	#828282;
}
.save	{
				float:	right;
}
.post-form	textarea,	.post-form	input	{
				width:	100%;
}
.top-menu,	.top-menu:hover,	.top-menu:visited	{
				color:	#ffffff;
				background-color:	#1a7aff;
				float:	right;
				font-size:	14pt;
				margin-right:	20px;
				padding:	10px	10px	10px	20px;
}
